{% extends "index.html" %}

{% load static %}

{% block content %}

<div class="row">
    <div class="col-md-8 col-md-offset-2">
    {% include 'datatables/html/table.html' %}
        {% csrf_token %}
    </div>
</div>

{% endblock %}


{% block scripts %}
<!-- DataTables CSS -->
<link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css" rel="stylesheet"/>
<link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css" rel="stylesheet"/>

<!-- DataTables Responsive CSS -->
<link href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.bootstrap.min.css" rel="stylesheet"/>
<link href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.bootstrap4.min.css" rel="stylesheet"/>

<!-- DataTables JavaScript -->
<script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/responsive/2.2.3/js/responsive.bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/responsive/2.2.3/js/responsive.bootstrap4.min.js"></script>

{% include 'datatables/js/general.js' %}
{% include 'datatables/js/footer.js' %}

<script>
function render_actions(data, type, row) {
    var content = "";
    content += '<a class="btn btn-warning btn-xs" href="#" data-toggle="tooltip" title="Edit"><i class="fa fa-edit"></i></a>';
    return content;
}

function apply_search(js_object) {
    var that = js_object;

    $(js_object.table().container()).on('click', 'tfoot #search', function(e) {
        if (e.which == 13) {
            e.preventDefault();
            var col_num= $(this).attr('id').match(/\d+/g);
            that.columns( col_num )
                .search( this.value )
                .draw();
        }
    });
    $(js_object.table().container()).on('change', 'tfoot select', function(e) {
        e.preventDefault();
        var col_num= $(this).attr('id').match(/\d+/g);
        var search_val = $(this).val();
        that.columns( col_num )
            .search( search_val )
            .draw();
    });
}

/* here is the main function */
$(document).ready(function() {
    // DataTable definition
    var table = $('#{{sspdtable.id}}').DataTable({
        "scrollY": "400px",
        "scrollX": true,
        "scrollCollapse": true,
        "order": [[ 1, "asc" ]],   // define the default ordering column and ordering format
        "processing": true,        // Enable or disable the display of a 'processing' indicator when the table is being processed
        "serverSide": true,        // important to use the server side processing
        "deferRender": true,       // read the documentation in datatables website
        "lengthMenu": [[10, 25, 50, 100], [10, 25, 50, 100]],    // length menu, read the documentation
        "paging": true,
        "pagingType": "full_numbers",
        "ajax": {
            "url": '{% url 'book_api' %}',
            "type": "POST",
            "headers": {
                'X-CSRFToken': $('[name=csrfmiddlewaretoken]').val(),
            },
            "dataSrc":function (json) {
                return json.data;
            },
            "data": function ( d ) {
                return $.extend( {}, d, {
                    "total_cols": {{sspdtable.frame|length}},
                } );
            }
        },
        "columns": [
            // using django loop to define the stucture of the columns
            {% for item in sspdtable.frame %}
                {
                    "data": {% if item.serializer_key %}'{{item.serializer_key}}'{% else %} null {% endif %}, render: function (data, type, row) {
                        {% if item.id == 'actions' %}
                            return render_actions(data, type, row);
                        {% else %}
                            return data;
                        {% endif %}
                    },

                    "searchable": {% if item.searchable %} true {% else %} false {% endif %},
                    "orderable": {% if item.orderable %} true {% else %} false {% endif %},
                },
            {% endfor %}
        ],
    });
    // hide the global filter and the footer, since in this view we don't need the footer
    $("#{{sspdtable.id}}_filter").hide();

    // single line without text wrapping
    $("#{{sspdtable.id}}").addClass("nowrap");

    // Apply the search
    apply_search(table);
});
</script>
{% endblock %}