{# the class of the table can be also changed later through js's functions 'addClass', 'removeClass' #}
<table id="{{sspdtable.id}}" width="100%" class="table table-striped table-hover table-condensed">
    <thead>
        {% block extraHeaderFront %}
            {# block for some extra headers, which should be in front of the normal headers #}
        {% endblock %}
        {# display the header defined in the DataTables class #}
        <tr>
            {% for item in sspdtable.frame %}
                <th>{{item.header}}</th>
            {% endfor %}
        </tr>
        {% block extraHeaderBack %}
            {# block for some extra headers, which should be after the normal headers #}
        {% endblock %}
    </thead>
    <tfoot id="{{sspdtable.id}}_tfoot">
        {% block extraFooterFront %}
            {# block for some extra footers, which should be after the normal footers #}
        {% endblock %}
        <tr>
            {% for item in sspdtable.frame %}
                <th id="{{sspdtable.id}}_{{item.id}}">{% if item.searchable %}{{item.header}}{% endif %}</th>
            {% endfor %}
        </tr>
        {% block extraFooterBack %}
            {# block for some extra footers, which should be after the normal footers #}
        {% endblock %}
    </tfoot>
</table>
